<!doctype html>
<html lang="en">
    <head>
        <!-- Title block allowing child pages to override -->
        <title>{% block title %}Empty{% endblock %}</title>
        <link rel="shortcut icon" type="image/ico" href="/favicon.ico" />
        <!-- Styles -->
        {{ "assets/css/main.css" | stylesheet_tag }}
        <!-- Style block allowing child pages to inject their own styles -->
        {% block styles %}{% endblock %}
    </head>
    <body class="blue darken-4">
        <div id="wrapper">
            <!-- Include -->
            <!-- {% include "header" %} -->
            <!-- Content block, child page inject content -->
            {% block content %}{% endblock %}
        </div>
        <!-- Script block allowing child pages to inject their own scripts -->
        <script src="//cdn.jsdelivr.net/jquery/2.1.4/jquery.min.js"></script>
        <script src="//cdn.jsdelivr.net/lodash/3.9.3/lodash.min.js"></script>
        {% block scripts %}{% endblock %}
        {{ "assets/scripts/materialize.min.js" | script_tag }}
    </body>
</html>
